.label {
	font-size: small;
	background-color: #ddd;
	padding: 3px 0px;
	display: inline-block;
	color: grey;
	border-radius: 3px;
}
.tab {
	text-decoration: none;
	width: 3em;
	padding: 3px 4px;
	display: inline-block;
	text-align: center;
}
.tab:hover {
	background-color: #eee;
}
.tab.on {
	background-color: grey;
	color: #fff;
}
.control-bar {
	float: right;
}
.thread-detail-info {
	font-size: small;
}
.right-bar {
	width: 311px;
	float: right;
	clear: both;
	border: 1px solid;
}
header {
	height: 78px;
}
header h1 {
	float: left;
}
.node-navbar{
	border: 1px solid;
}
.index-search {
	padding: 29px 139px;
}
.append-info{
	border: 1px solid;
	padding: 3px;
}
