<?php if (user_id()): ?>
	<form method="post" action="post" class="">
	<div id="FormAlert"></div>
		<input name="title">
		<br>
		<textarea name="content"></textarea>
		<br>
		<button>ok</button>
	</form>
<?php else: ?>
	<div>请先登录再发言</div>
<?php endif ?>

<ul id="MainList">
<?php include 'thread_list.html' ?>
</ul>

<script type="text/javascript">
$(function () {
	ajax_form('form', function (ret) {
		if (ret.code === 0) {
			$('#MainList').load('thread_list');
			$('input,textarea').val('');
		}
	})
});
</script>
