
<div id="NodeNav" class="node-navbar paper">
<div class="node-navbar-main">
<?php foreach ($nodes as $node): ?>
	<a href="?tab=<?= $node['id'] ?>"
		class="tab <?php if ($tab === $node['id']): ?>on<?php endif ?>"
		><?= $node['name'] ?></a>
<?php endforeach ?>
</div>

<?php if ($sub_nodes): ?>
	<div class="node-navbar-sub">
	<?php foreach ($sub_nodes as $n): ?>
	<a href="/node/<?= $n['id'] ?>"
		><?= $n['name'] ?></a>
	<?php endforeach ?>
	</div>
<?php endif ?>
</div>

<div class="right-bar">
<?php if (user_id()): ?>
	<div class="float-paper-uni">
		<a href="/post_new">创建新主题</a>
	</div>
<?php else: ?>
	<div class="float-paper-uni">请先登录再发言</div>
<?php endif ?>
<div class="float-paper-uni">
	<a href="/fav">
		收藏
		(<?= $my_fav_count ?>)
	</a>
</div>

<div class="float-paper">
	<h4>今日热议主题</h4>
	<div class="body">
	<ol>
	<?php foreach ($top10 as $thread): ?>
		<li><a href="/thread/<?= $thread['id'] ?>"><?= $thread['title'] ?></a></li>
	<?php endforeach ?>
	</ol>
	</div>
</div>
<div class="float-paper">
	<h4>社区运行状况</h4>
	<div class="body">
	<table class="status">
		<tr>
			<td class="label-desc">注册会员</td>
			<td class="num"><?= $total_memeber ?></td>
		</tr>
		<tr>
			<td class="label-desc">主题</td>
			<td class="num"><?= $total_thread ?></td>
		</tr>
		<tr>
			<td class="label-desc">回复</td>
			<td class="num"><?= $total_comment ?></td>
		</tr>
	</table>
	</div>
</div>
<div class="float-paper-uni">
	<iframe class="github-btn" 
	src="http://ghbtns.com/github-btn.html?user=picasso250&amp;repo=dreamer&amp;type=watch&amp;count=true" 
	allowtransparency="true" frameborder="0" scrolling="0" 
	width="94px" height="20px"></iframe>
	<iframe class="github-btn" 
		src="http://ghbtns.com/github-btn.html?user=picasso250&amp;repo=dreamer&amp;type=fork&amp;count=true" 
		allowtransparency="true" 
		frameborder="0" scrolling="0" 
		width="94px" height="20px"></iframe>
</div>

</div>

<ul id="MainList" class="no-list paper">
<?php include 'thread_list.html' ?>
</ul>

<script type="text/javascript">
$(function () {
	ajax_form('form', function (ret) {
		if (ret.code === 0) {
			$('#MainList').load('thread_list');
			$('input,textarea').val('');
		}
	})
});
</script>

<div class="paper split" id="NodeAll">
	<h4>节点导航</h4>
	<div class="body">
	<table>
		<?php foreach ($nodes as $node): ?>
			<tr>
				<td class="title"><?= $node['name'] ?></td>
				<td class="detail">
					<?php foreach ($node['sub'] as $n): ?>
						<a href="/node/<?= $n['id'] ?>"><?= $n['name'] ?></a>
					<?php endforeach ?>
				</td>
			</tr>
		<?php endforeach ?>
	</table>
	</div>
</div>

