<form method="post" action="post" class="">
	<input name="title">
	<br>
	<textarea name="content"></textarea>
	<br>
	<button>ok</button>
</form>

<?php include 'thread_list.html' ?>

<script type="text/javascript">
$(function () {
	var alert = $('.alert');
	var postForm = $('form').on('submit', function (e) {
		e.preventDefault();
		var $this = $(this);
		var $btn = $(this).find('button[type=submit]');
		var old = $btn.text();
		$btn.text('...');
		$.post($this.attr('action'), $this.serialize(), function (ret) {
			if (ret.code === 0) {
				$('#MainList').load('thread_list');
			}
			$btn.text(old);
		}, 'json');
	});
});
</script>
