<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>x</title>
	<script type="text/javascript" src="/assets/jquery-2.0.3.js"></script>
	<script type="text/javascript" src="/assets/main.js"></script>
</head>
<body>
<header>
	<h1><a href="/">梦想家</a></h1>
	<?php global $user; if (user_id()): ?>
		<div>
			Welcome, <?= $user['name'] ?: $user['email'] ?>
			<a href="/logout">logout</a>
		</div>
	<?php else: ?>
		<a href="/login">login</a>
	<?php endif ?>
</header>
<?php include "$GLOBALS[router].html" ?>
</body>
</html>
