<form id="NewPostForm" method="post" action="post" class="ajax page split paper">
	<h2 class="title">创作新主题
		<?php if ($node_id): ?>
			(<?= $node['name'] ?>)
		<?php endif ?>
	</h2>
	<div class="body">
	<div class="form-msg"></div>
	<input type="text" name="title" placeholder="标题">
	<textarea name="content"></textarea>
	<br>
	<?php if ($node_id): ?>
		<input type="hidden" name="node_id" value="<?= $node_id ?>">
	<?php else: ?>
		<input name="node_name" placeholder="节点">
		<select name="node_id">
			<option value="0">手工填写</option>
			<?php foreach ($nodes as $node): ?>
			<option value="<?= $node['id'] ?>"><?= $node['name'] ?></option>
			<?php endforeach ?>
		</select>
	<?php endif ?>
	<br>
	<button type="submit">发布</button>
	</div>
</form>
