<h3>设置</h3>
<form action="set_user" class="ajax">
	<div class="form-msg"></div>
	<input type="text" name="name" placeholder="name">
	<input type="email" name="email" placeholder="email">
	<input type="email" name="signature" placeholder="签名">
	<button type="submit">保存设置</button>
</form>

<h3>更改密码</h3>
<form action="change_password" class="ajax">
	<div class="form-msg"></div>
	<input type="password" name="password" placeholder="password">
	<input type="password" name="password_new" placeholder="new password">
	<button type="submit">更改密码</button>
</form>
