<hr>
<div>
	<a href="/node/<?= $thread['node_id'] ?>"><?= $thread['node_name'] ?></a>
	<h3><?= htmlspecialchars($thread['title']) ?></h3>
	<div>
		<button class="vote-btn" id="VoteForBtn" data-value="1"
			<?php if (isset($my_votes[1])): ?>
				disabled
				title="u have vote"
			<?php endif ?>
			>顶
			<span><?= $thread['vote_for'] ?></span>
		</button>
		<button class="vote-btn" id="VoteAgainstBtn" data-value="-1"
			<?php if (isset($my_votes[-1])): ?>
				disabled
				title="u have vote"
			<?php endif ?>
			>踩</button>
		<a href="/user/<?= $thread['user_id'] ?>"><?= $thread['username'] ?></a>
		<span><?= htmlspecialchars($thread['create_time']) ?></span>
		<span><?= htmlspecialchars($thread['visit_count']) ?>
			次点击</span>
	</div>
	<div><?= htmlspecialchars($thread['content']) ?></div>
	<button id="FavBtn" data-value="<?= 1 - $is_my_fav ?>">
		<?= $fav_text_map[$is_my_fav] ?></button>
</div>

<form action="/post_comment/<?= $thread['id'] ?>">
	<div class="form-msg"></div>
	<textarea name="content"></textarea>
	<button type="submit">评论</button>
</form>

<h3>评论</h3>
<ol id="MainList">
<?php include 'comment_list.html' ?>
</ol>

<script type="text/javascript">
$(function () {
	ajax_form('form', function (ret) {
		if (ret.code === 0) {
			$('#MainList').load("/comment_list/<?= $thread['id'] ?>");
			$('input,textarea').val('');
		}
	})
	$('.vote-btn').click(function (){
		var $this = $(this);
		var value = $this.data('value');
		$this.prop('disabled', true);
		var data = {
			value: value
		}
		$.post('/vote_thread/<?= $thread["id"] ?>', data, function(ret) {
			$this.find('span').text(ret.data.num);
		}, 'json')
	})
	var map = <?= json_encode($fav_text_map) ?>;
	$('#FavBtn').click(function() {
		var $this = $(this);
		var value = $this.data('value');
		$this.prop('disabled', true);
		var data = {
			value: value
		}
		$.post('/fav_thread/<?= $thread["id"] ?>', data, function(ret) {
			$this.text(map[value]);
			$this.prop('disabled', false);
		}, 'json')
	})
});
</script>
