<?php foreach ($list as $thread): ?>
	<li class="thread-item">
		<a class="label btn thread-node" href="/node/<?= $thread['node_id'] ?>"><?= htmlspecialchars($thread['node_name']); ?></a>
		<h3><a href="/thread/<?= $thread['id'] ?>"><?= htmlspecialchars($thread['title']) ?></a></h3>
		<div class="thread-detail-info">
			<?php if ($thread['vote_for']): ?>
				<span class="label"><?= $thread['vote_for'] ?>
					赞
				</span>
				·
			<?php endif ?>
			<a href="/user/<?= $thread['user_id'] ?>"><?= user_show_name($thread) ?></a>
			·
			<span><?= $thread['create_time'] ?></span>
			·
			<span>回帖数：<?= $thread['comment_count'] ?></span>
		</div>
	</li>
<?php endforeach ?>
