<div class="paper simple">
	<h3><?= $user['name'] ?></h3>
	<div>
	加入于 <?= $user['create_time'] ?>
	</div>
	<div>
		被赞同 <?= $user['vote_count'] ?>
	</div>
	<div>
		被收藏 <?= $user['fav_count'] ?>
	</div>
</div>

<div class="paper split">
	<h4 class="title"><?= $user['name'] ?>
		创建的所有主题</h4>
	<ul class="body">
	<?php include 'thread_list.html' ?>
	</ul>
</div>

<div class="paper split">
	<h4 class="title"><?= $user['name'] ?>
		最近的回复</h4>
	<ul class="body">
	<?php foreach ($comments as $comment): ?>
		<li class="user-comment-item line">
			<div class="detail">
				<div class="time"><?= $comment['create_time'] ?></div>
				<div>
					回复了
					<a href="/user/<?= $comment['tuid'] ?>"><?= user_show_name($comment) ?></a>
					创建的主题
					<a href="/thread/$comment['tid']"><?= htmlspecialchars($comment['title']) ?></a>
				</div>
			</div>
			<div><?= htmlspecialchars($comment['content']) ?></div>
		</li>
	<?php endforeach ?>
	</ul>
</div>
